.app-timezones__list-members {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-timezones__timeline {
  width: 200px;
}

.app-timezones__line  {
  width: 100%;
}

.app-timezones__time {
  position: relative;
  padding-bottom: 20px;
}

.apptimezones__time--work::after {
  position: absolute;
  content: "";
  width: 46px;
  height: 10px;
  left: 0;
  bottom: 0;
  background-color: blue;
  border-radius: 10%;
}
